ROMM_BASE_PATH=
DEV_MODE=
KIOSK_MODE=

# IGDB
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=

# Mobygames
MOBYGAMES_API_KEY=

# Screenscraper
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=

# SteamGridDB
STEAMGRIDDB_API_KEY=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWD=
DB_ROOT_PASSWD=

# Redis
REDIS_HOST=
REDIS_PORT=

# Authentik
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
AUTHENTIK_SECRET_KEY=
AUTHENTIK_BOOTSTRAP_PASSWORD=

# Authentication
# Secret generation key
ROMM_AUTH_SECRET_KEY=
# Disable auth on download endpoint for 3rd party support
DISABLE_DOWNLOAD_ENDPOINT_AUTH=
# Disable CSRF protection for development and testing purposes
DISABLE_CSRF_PROTECTION=
# Disable username + passsword login when using OIDC login
DISABLE_USERPASS_LOGIN=

# OpenID Connect (Authentik, Authelia, etc.)
OIDC_ENABLED=
OIDC_PROVIDER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=
OIDC_SERVER_APPLICATION_URL=

# Filesystem watcher (optional)
ENABLE_RESCAN_ON_FILESYSTEM_CHANGE=
RESCAN_ON_FILESYSTEM_CHANGE_DELAY=

# Periodic Tasks (optional)
ENABLE_SCHEDULED_RESCAN=
SCHEDULED_RESCAN_CRON=
ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB=
SCHEDULED_UPDATE_SWITCH_TITLEDB_CRON=

# In-browser emulation
DISABLE_EMULATOR_JS=
DISABLE_RUFFLE_RS=

# Stored assets
STORE_COVERS=
STORE_SCREENSHOTS=
STORE_MANUALS=

# Logging
LOGLEVEL=DEBUG

# Gunicorn (optional)
# Workers -> (2 × CPU cores) + 1
WEB_CONCURRENCY=
